@use "./base.scss";

// put your custom CSS here!

.newest-posts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

.newest-posts > p,  .newest-posts > p > img {
    margin: 0;
}

#more {
    border: thin solid var(--lightgray);
    border-radius: 5px;
    padding: 10px;
}